<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nasa_picture</title>
</head>
<body>
<img id="img-of-the-day">

<form th:action="@{/picture/create}" method="post" th:object="${el}">
    <input type="number" min="1" max="5" th:field="*{mark}"><br><br>

    <label>Author</label><br>
    <input type="text" th:field="*{author}"><br><br>

    <label>Feedback</label><br>
    <input type="text" th:field="*{feedback}"><br><br>
    <input type="submit" th:value="Comment" />
</form>

<div th:each="pic,picStat : ${eList}">
    <p th:text="${pic.author}"></p>
    <hr/>
    <p th:text="${pic.mark}"></p>
    <hr/>
    <p th:text="${pic.feedback}"></p>
    <hr/>
</div>


<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=nAE6Iebb8zbLBhsqCr8VMKWupfVKiDFiJOoWlKDN';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>